RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]






# Enable HTTP Strict Transport Security (HSTS)
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# Set X-Frame-Options to prevent clickjacking
Header always set X-Frame-Options "DENY"

# Set Referrer-Policy
Header always set Referrer-Policy "no-referrer"

# Set Permissions-Policy
Header always set Permissions-Policy "geolocation=(self), microphone=(), camera=()"

# Set X-Content-Type-Options to prevent MIME type sniffing
Header always set X-Content-Type-Options "nosniff"

